@model MVCWithHTMLHelperTagAndSessionDemo.Models.NetizensUser

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/_AfterLayout.cshtml";
}

<h2>EDIT PROFILE</h2>

@using (Html.BeginForm("EditProfile", "Netizens", FormMethod.Post))
{
    <table align="left">
        @Html.Hidden("UserId")
        <tr><th>Name</th><td>@Html.TextBox("UserName")</td></tr>
        <tr><th>Password</th><td>@Html.Password("Password")</td></tr>
        <tr><th>Email</th><td> @Html.TextBox("EmailId")</td></tr>
        <tr><th>Contact No.</th><td> @Html.TextBox("Contact")</td></tr>
        <tr><th colspan="2"><input type="submit" value="submit" /></th></tr>

    </table>

}